/* Responsive design */
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
    }

    .contact {
        margin-bottom: 150px; /* Assicura che il footer non copra il modulo di contatto */
    }

    .contact iframe {
        width: 100%; /* Ridimensiona il modulo per adattarsi al dispositivo */
    }

    /* Regola le dimensioni del testo all'interno del modulo */
    .contact h2 {
        font-size: 24px;
    }

    .contact p {
        font-size: 14px;
    }

    /* Riduci i margini e la spaziatura all'interno del modulo */
    .contact ul {
        margin-top: 10px;
    }

    .contact-list li {
        margin-bottom: 5px;
    }
}
