.header-text {
    color: white; /* Imposta il colore del testo su bianco */
}

:root {
    --blu-principale: #007bff;
    --blu-scuro: #0056b3;
    --blu-chiaro: #cce0ff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: center;
}

header {
    background-color: var(--blu-principale);
    color: white;
    padding: 20px 0;
}

.profile-container {
    background-image: url('Sfondo_immagine_portfolio.jpeg');
    background-size: cover; /* Adatta l'immagine per coprire l'intero contenitore */
    background-position: center;
    position: relative;
    width: 100%; /* Imposta la larghezza del contenitore sulla stessa larghezza dell'immagine del profilo */
    height: 400px; /* Imposta l'altezza del contenitore sulla stessa altezza dell'immagine del profilo */
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto 0;
    border: 5px solid #ccc; /* Aggiungi bordi */
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.profile-name {
    margin-top: 10px;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h1, h2, h3 {
    color: var(--blu-scuro);
}

.bio, .skills, .experience, .education, .projects, .contact-form-section {
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.bio p, .skills ul, .experience ul, .education ul, .projects .project p {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

ul li:hover {
    transform: scale(1.05);
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.view-projects-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 30px;
    background-color: var(--blu-principale);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.view-projects-btn:hover {
    background-color: var(--blu-scuro);
}

footer {
    background-color: var(--blu-principale);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.skills ul, .experience ul, .education ul {
    margin-top: 10px;
}

.skills ul li, .experience ul li, .education ul li {
    background-color: var(--blu-chiaro);
    padding: 10px;
    border-radius: 5px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.project {
    background-color: var(--blu-chiaro);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project h3 {
    margin-top: 10px;
}

.project p {
    color: #333;
}

.project button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--blu-principale);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project button:hover {
    background-color: var(--blu-scuro);
}

.project {
    position: relative; /* Imposta il posizionamento relativo per consentire il posizionamento assoluto dei bottoni */
}

.project button {
    position: absolute; /* Imposta il posizionamento assoluto */
    bottom: 10px; /* Posiziona il bottone a 10px dal fondo del contenitore */
    left: 50%; /* Posiziona il bottone al centro */
    transform: translateX(-50%); /* Centra il bottone orizzontalmente */
}


.contact-form-section {
    margin-bottom: 150px;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
    }

    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 100%;
        margin-bottom: 20px;
    }
}
